@model Customer
<div class="text-center">
    <div class="display-4">Sign Up</div>
</div>
<form asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class=" row justify-content-center m-3">
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="CusName"></label>
                <input asp-for="CusName" class="form-control" />
                <span asp-validation-for="CusName" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class=" row justify-content-center m-3">
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="CusPass"></label>
                <input asp-for="CusPass" class="form-control" />
                <span asp-validation-for="CusPass" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class=" row justify-content-center m-3">
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="CusEmail"></label>
                <input asp-for="CusEmail" class="form-control" />
                <span asp-validation-for="CusEmail" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="text-center">
        <!-- Added div for left aligning -->
        <button type="submit" class="btn btn-primary my-3">Register</button>
    </div>
</form>